.form-driver-cards-container {
  display: flex;
  justify-content: space-around;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-component {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  width: 45%;
}

.noDriver {
  width: 70%;
}

.driver-portal {
  height: 100vh;
  width: 60%;
  overflow-y: scroll;
}

.time-selector {
  display: flex;
  justify-content: space-between;
}
