<div class="form-driver-cards">
  <div class="form-component">
    <form (submit)="onSubmit($event)" class="form-fields">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="your name"
          [(ngModel)]="driver.firstName"
          name="firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Parking Type (2P/3P)</mat-label>
        <input
          matInput
          placeholder="2P/3P"
          [(ngModel)]="driver.carParkType"
          name="carParkType"
        />
      </mat-form-field>

      <mat-label>Time when Parked</mat-label>
      <div class="time-selector">
        <mat-form-field appearance="fill">
          <mat-label>Hour</mat-label>
          <select matNativeControl required>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
          </select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Minutes</mat-label>
          <select matNativeControl required>
            <option>00</option>
            <option>15</option>
            <option>30</option>
            <option>45</option>
          </select>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Location</mat-label>
        <input
          matInput
          placeholder="Lord's gym"
          [(ngModel)]="driver.location"
          name="location"
        />
      </mat-form-field>

      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="incrementDriverList()"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="driver-portal">
    <driver-cards [drivers]="drivers"> </driver-cards>
  </div>
</div>
