<div class="app">
  <div class="form-component">
    <form (submit)="onSubmit($event)" class="form-fields">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="your name"
          [(ngModel)]="driver.firstName"
          name="firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Parking Type (2P/3P)</mat-label>
        <input
          matInput
          placeholder="2P/3P"
          [(ngModel)]="driver.carParkType"
          name="carParkType"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Time when Parked</mat-label>
        <input
          matInput
          placeholder="08:30 AM"
          [(ngModel)]="driver.time"
          name="time"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Location</mat-label>
        <input
          matInput
          placeholder="Lord's gym"
          [(ngModel)]="driver.location"
          name="location"
        />
      </mat-form-field>

      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="incrementDriverList()"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="driver-portal">
    <driver-cards [drivers]="drivers"> </driver-cards>
  </div>
</div>
