.app {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.driver-portal {
  width: 60%;
}

.time-selector {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .time-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
