<mat-card
  *ngFor="let driver of drivers"
  class="card"
  [ngClass]="{ red: getTimeRemainingForDriver(driver) <= 30 }"
>
  <div class="card-flex">
    <h1 class="driver-name">{{ driver.firstName }}</h1>
    <h1 class="car-park-type">{{ driver.carParkType }}</h1>
  </div>
  <mat-card-content>
    <div class="card-flex">
      <p>{{ driver?.location }}</p>
      <i class="small">
        {{ driver.timeParked | date: "shortTime" }}
      </i>
    </div>
    <div class="small">
      Time remaining:
      {{ getTimeRemainingForDriver(driver) }} mins
    </div>
  </mat-card-content>
</mat-card>
