.card {
  width: 70%;
  background-color: rgb(88, 168, 50);
  color: white;
  margin: 1rem;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.ticket_card {
  width: 80%;
  background-color: rgb(179, 5, 5);;
  color: white;
  margin: 1rem;
}
