.card {
  width: 70%;
  background-color: rgb(88, 168, 50);
  color: white;
  margin: 1rem;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.ticket_card {
  width: 80%;
  background-color: rgb(179, 5, 5);;
  color: white;
  margin: 1rem;
}

.small {
  font-size: 12px;
}

.red {
  background-color: red;
}

.driver-name {
  font-size: 20px;
  text-overflow: ellipsis;
  width: 300px;
  white-space: nowrap;
  overflow: hidden !important;
}

@media only screen and (max-width: 600px) {
  .driver-name {
    width: 100px;
  }
}
